.super-container {
    margin: 5px;
}

.hide {
    display: none;
}

.instructions {
    display: flex;
    justify-content: center
}

.puzzle {
    display: flex;
    justify-content: center
}

.wrap {
    position: relative;
}

#board {
    position: relative;
    top: 0;
    left: 0;
    border: 1px green solid;
    width: 650px;
}

#knight1 {
    position: absolute;
    left: 253px;
    top: 314px;
    width: 65px;
}

#knight2 {
    position: absolute;
    left: -3px;
    top: 1px;
    width: 65px;
}

#correctmove {
    position: absolute;
    left: 395px;
    top: 246px;
    height: 64px;
    width: 65px;
}

#success {
    height: 650px;
}